

      <!-- Content Header (Page header) -->
      <section class="content-header">
            <h1>
             Edit Location
            </h1>
           
          </section>
      
          <!-- Main content -->
          <section class="content">

                <form action="/locations/<%= location.id %>/update" method="POST">
                    <% if(errors) { %>
                        <% for(var i=0; i<errors.length;i++) {%>
                            <p class="alert alert-danger"><%= errors[i].msg %></p>
                        <% } %>
                <% } %>
                        <div class="form-group">
                             <label for="">Name</label>
                             <input type="text" class="form-control" name="name" value="<%= location.name %>"/>
                        </div>
                    
                        <div class="form-group">
                                <label for="">Type</label>
                                <select name="type" class="form-control">
                                    
                                        <% for(var i=0; i < types.length; i ++){ %>
                                            <option value="<%= i %>" <%= (location.type==i)? "selected":"" %>><%= types[i] %></option>
                                            <% } %>
                                </select>
                           </div>
                    
                           <div class="form-group">
                               <button class="btn btn-success">Submit</button>
                               <a href="/locations" class="btn btn-warning">Cancel</a>
                           </div>
                    
                    </form>
                    
            
       </section>
</section>