<!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
         Create New Product
        </h1>
       
      </section>
  
      <!-- Main content -->
      <section class="content">
            <% if(errors) { %>
                <% for(var i=0; i<errors.length;i++) {%>
                    <p class="alert alert-danger"><%= errors[i].msg %></p>
                <% } %>
        <% } %>
            <form action="/products/store" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                         <label for="">Title</label>
                         <input type="text" class="form-control" name="title" />
                    </div>
                    <div class="form-group">
                        <label for="">Thumbnail</label>
                        <input type="file" name="thumbnail" class="form-control" />
                     </div>
                    <div class="form-group">
                        <label for="">Category </label>
                        <select name="category_id" class="form-control">
                            <option value="">Choose One</option>
                            <% for(var i = 0; i < categories.length; i++){ %>
                                <option value="<%= categories[i].id %>"><%= categories[i].title %></option>
                                <% } %>
                        </select>
                   </div>
                   <div class="form-group">
                    <label for="">Brand</label>
                    <select name="brand_id" class="form-control">
                        <option value="">Choose One</option>
                        <% for(var i = 0; i < brands.length; i++){ %>
                            <option value="<%= brands[i].id %>"><%= brands[i].name %></option>
                            <% } %>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="">Price</label>
                        <input type="number" class="form-control" name="price" />
                   </div>             
                   <div class="form-group">
                    <label for="">Description</label>
                    <textarea name="description" class="form-control"></textarea>
               </div>                    
                
                       <div class="form-group">
                           <button class="btn btn-success">Submit</button>
                           <a href="/products" class="btn btn-warning">Cancel</a>
                       </div>
                
                </form>
                
        
   </section>
</section>